$bg-color: #fff;
$body-font-color: #7f888f;
$menu-bg-color: #f5f6f7;
$nav-border-color: #dadfe1;
$menu-font-color: #3d4449;
$title-color: #3d4449;
$dominant-color: #f56a6a;

$mobile-widths-only: "(max-width: 767px)";
$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1200px)";
